XDEBUG_REMOTE_HOST=
SHOW_SAML_ERRORS=true
THEME_USE=material:material
FORGOT_PASSWORD_URL=

# See "https://developers.google.com/recaptcha/docs/faq" for test key/secret.
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET=