XDEBUG_REMOTE_HOST=
SHOW_SAML_ERRORS=true
THEME_USE=material:material
FORGOT_PASSWORD_URL=
BASE_URL_PATH=
ID_BROKER_ACCESS_TOKEN=
ID_BROKER_BASE_URI=

# List any IP addresses that should NOT be rate-limited but which might be
# included in REMOTE_ADDR or the X-Forwarded-For header (such as your
# application's load balancer).
# Example: TRUSTED_IP_ADDRESSES=11.22.33.44,11.22.33.55
TRUSTED_IP_ADDRESSES=

# See "https://developers.google.com/recaptcha/docs/faq" for test key/secret.
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET=